<div class="columns">
  <div id="landing-page" class="column is-half">

    <div id="landing-title" class="fade-in-right-staggered">
      <h1>{{ site.data.landing-page.title }}</h1>
    </div>

    <div id="landing-subtitle" class="fade-in-right-staggered">
      <h3>
        {{ site.data.landing-page.subtitle_part_1 }}
        <a id="company-link" href={{ site.data.landing-page.company_url }}
        target="_blank">
          {{ site.data.landing-page.company }}</a>
        {{ site.data.landing-page.subtitle_part_2 }}
      </h3>
    </div>

    <div class="columns fade-in-right-staggered">
      <div class="column">
        <a id="see-work-button" class="h4-button sliding-link"
        href={{site.data.landing-page.see_work_button_url}}>
          {{ site.data.landing-page.see_work_button_text }}
        </a>
      </div>
    </div>

  </div>
</div>
