/**
* Buttons style
*/

/* Buttons ------------------------------------------------------------- */

.base-button {
  @extend .z-2;
  background-color: $bg-color;
  font-weight: $regular-font-weight;
  border-radius: 100px;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}
.base-button:hover {
  @extend .z-3;
}
.base-button:active {
  @extend .z-5;
}
.base-button:focus {
  outline: none;
}

.h3-button {
  @extend .base-button;
  font-size: $h3-font-size;
  font-family: $base-font-family;
  letter-spacing: $h3-letter-spacing;
  border: 0.2rem solid $fg-color;
  padding: 0.5rem 2.0rem 0.5rem 2.0rem;
}

.h4-button {
  @extend .base-button;
  font-size: $h4-font-size;
  font-family: $base-font-family;
  letter-spacing: $h4-letter-spacing;
  border: 0.13rem solid $fg-color;
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
}


/* Fontawesome buttons ------------------------------------------------------ */

.base-fa-button {
  @extend .text-z-2;
}
.base-fa-button:hover {
  @extend .text-z-3;
}

.h4-fa-button {
  @extend .base-fa-button;
  font-size: $h2-font-size;
}
