/**
* Landing page style
*/

#landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#company-link {
  color: lighten($fg-color, 25%);
}
#company-link:hover {
  color:$fg-color;
}

#landing-subtitle {
  margin-bottom: 0.5 * $spacing-unit;
}
