/**
* Projects style
*/

/* Skills table ------------------------------------------------------------- */

.project.columns.is-desktop {
  .table, .table td, .table th {
    background-color: $bg-color;
    border: none;
  }

  .table th {
    padding-left: 0;
    p {
      font-weight: $regular-font-weight;
    }
  }

  .spacer-row th, .spacer-row td {
    height: 0rem;
  }

  .line-row th, .line-row td {
    border-top: 1px solid $grey-color-light;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 2 * $spacing-unit;
  }
}


/* Project Desc ------------------------------------------------------------- */

.project .project-description-wrapper {
  margin-bottom: $h1-line-spacing;
}

.project .project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .project-title h3 {
    margin-bottom: 0;
  }
}

.project .project-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    margin: 0 0 0 1rem;
  }
}

.project-description {
    margin-top: 0.25 * $spacing-unit;
}


/* Project Images ----------------------------------------------------------- */

img.project-image {
  @extend .z-2;
  width: 100%;
}

img.project-image-left {
  @extend .project-image;
  max-width: 600px;
  float: left;
}

img.project-image-right {
  @extend .project-image;
  max-width: 600px;
  float: right;
}
